{% extends 'base.html' %}
{% include 'snippets/headbook.html' %}

{% block content %}

<div id="content">

  <section class="cover">
      <h1>{{ config.infos.title }}</h1>
  </section>
  <section class="page garde">
  <div class="info">
      <p>
      </p>
  </div>
  </section>
  <section class="page garde">
      <div class="info">
      <p>
      </p>
      </div>
  </section>
  <section class="page garde">

      <div class="introduction">
        {{ config.infos.introduction }}
      </div>
  </section>
  <section class="page garde">
      <div class="info">
          <h1>{{ config.infos.title }}</h1>
          <p>{{ config.infos.author }}</p>
      </div>
  </section>
  <section class="page garde">
      <div class="info">
          <p>
          </p>
      </div>
  </section>
  <section class="page garde">
      <div class="info">
          <h1>Version {{ config.infos.version }}<br>
          {{ config.infos.date }}</h1>
      </div>
  </section>

  <!-- injecter -->

  {% for key in images %}

      <div class="chapter">{{ key.name }}</div>

    {% for image in key.files %}

      <div class="page">
          <figure id="figure" >
              <img src="{{ url_for('static', filename='images/' + key.name + '/' + image.name ) }}" />
          </figure>
      </div>

    {% endfor %}

  {% endfor %}

  <!-- injecter -->

  {{ texts|safe }}


</div>

<div id="renderbook"></div>


{% endblock content %}
