{% extends 'base.html' %}

{% block content %}

  {% for key in data %}

    <h1>{{ key.name|capitalize }} ({{ key.files|length }} images)</h1>

    {% for image in key.files %}

      <figure>
        <img src="{{ url_for('static', filename='images/' + key.name + '/' + image.name ) }}" />
        <figcaption>
          {{ image.name }}
          {{ image.date | unix_to_date }}
          {{ image.size }}
        </figcaption>
      </figure>

    {% endfor %}

  {% endfor %}

{% endblock content %}
