{% extends 'base.html' %}
{% include 'snippets/head.html' %}
{% include 'snippets/navigation.html' %}

{% block content %}
<section class="home">

  {% for key in data %}

    <article class="chapitre" data-title="{{ key.name }}" id="{{ key.name }}">


    {% for image in key.files %}

      <figure class="page">
        <img
          data-src="{{ url_for('static', filename='images/' + key.name + '/' + image.name ) }}"
          alt="{{ image.name }}, {{ image.date | unix_to_date }}"
          class="lazyload"
        />
        <figcaption>
          <span>{{ image.name }}</span>
          <span>{{ image.date | unix_to_date }}</span>
          <span>
            {% if image.size|int > 50 %}
            <div class="red">{{ image.size }}kb</div>
            {% else %}
            <div class="green">{{ image.size }}kb</div>
            {% endif %}
          </span>
        </figcaption>
      </figure>

    {% endfor %}

    <!-- masqué -->
    <h1 class="chapitre-title">{{ key.name }}</h1>

  </article>

  {% endfor %}
{% include 'snippets/data.html' %}
</section>
{% endblock content %}
