<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/web/reset.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/web/fonts.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/web/style.css') }}">
<script type="module" src="{{ url_for('static', filename='assets/js/web/main.js') }}" defer></script>
<script src="{{ url_for('static', filename='assets/js/web/lazysizes.min.js') }}" async=""></script>
</head>
