<!DOCTYPE html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <title></title>
  <meta name="robots" content="noindex, nofollow">
  <meta name="author" content="" />
  <meta name="copyright" content="" />

  <script type="module" src="{{ url_for('static', filename='assets/js/book/script.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/web/fonts.css') }}">
  <link href="{{ url_for('static', filename='assets/css/book/pagedjs/pagedjs.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='assets/css/book/reset.css') }}" rel="stylesheet" type="text/css">

</head>
